@page "/"

<PageTitle>Checkers</PageTitle>

<div style="display: flex; gap: 160px; align-items: flex-start;">
    <section class='hero'>
        <div class="board" style='transform: @(Turn == PieceColor.Black ? "" : "");'>
            @for (int r = 8; r >= 1; r--)
            {

                for (int c = 1; c <= 8; c++)
                {
                    var cell = board.Cells[r, c];

                    // Проверяем, доступен ли ход в текущую клетку [r, c] из выбранной
                    bool isPossibleMove = false;
                    if (selectedCell != null)
                    {
                        var (canMove, victims) = logic.CheckActMove(board, $"{selectedCell.Row}{selectedCell.Col} {r}{c}".Split(" "));
                        var (mustkill, list) = logic.HasAnyCapture(board);
                        
                        if (!mustkill)
                        {
                            isPossibleMove = canMove;
                        }
                        else if (victims.Count == 0)
                        {
                            isPossibleMove = false;
                        }
                        if (victims.Count > 0)
                        {
                            isPossibleMove = canMove;
                        }
                    }

                    // Отрисовка клетки
                    <div @onclick="() => HandleClick(cell)"
                        class="cell"
                        style="
                        background-color: @(cell.IsPlayable ? "black" : "white");
                        border: @(selectedCell == cell ? "3px solid green" : "1px solid transparent");
                        ">
                        
                        @if (isPossibleMove) // Отрисовка возможных ходов
                        {
                            <div style="position: absolute; width: 15px; height: 15px;
                                        background-color: green; border-radius: 50%;"></div>
                        }

                        @if (cell.Checker != null) // Отрисовка шашек
                        {
                            <div 
                            class='checker' 
                            style="
                            background-color:@(cell.Checker.Colour == PieceColor.Black ? "rgba(62, 50, 41, 1)" : "white");
                            outline: 5px solid @(cell.Checker.Colour == PieceColor.Black ? "rgba(89, 80, 72, 1)" : "rgba(156, 156, 156, 1)");">

                                @if (cell.Checker.IsKing) // Отрисовка дамки
                                {
                                    <img src="\images\crown.svg" style="width: 75%; height: 75%;" />
                                }
                            </div>  
                        }   
                    </div>
                }
            }
        </div>
    </section>
    <div class="info-panel">
        <h3 style="margin-top: 0;">Статус игры</h3>
        <hr/>

        <div style="margin-bottom: 15px; display: flex; align-items: center; gap: 10px;">

            <strong>Ход:</strong> 

            <span>
                @(logic.Turn == PieceColor.White ? "БЕЛЫЕ" : "ЧЕРНЫЕ")
            </span>

            <div 
                class='checker' 
                style="
                background-color:@(logic.Turn == PieceColor.Black ? "rgba(62, 50, 41, 1)" : "white");
                outline: 3px solid @(logic.Turn == PieceColor.Black ? "rgba(89, 80, 72, 1)" : "rgba(156, 156, 156, 1)")">
            </div>

        </div>

        <div style="display: flex; flex-direction: column; gap: 10px; margin-top: 70px;">
            <div style="display: flex; align-items: center; gap: 5px;">
                <div 
                class='checker' 
                style="
                background-color: white;
                outline: 3px solid rgba(156, 156, 156, 1);">
                </div>

                <span>Белых осталось:</span>

                <span style="font-weight: bold; margin-left: 9px;">@CountWhite</span>
            </div>

            <div style="display: flex; align-items: center; gap: 5px;">
                <div 
                class='checker' 
                style="
                background-color: rgba(62, 50, 41, 1);
                outline: 3px solid rgba(89, 80, 72, 1);">
                </div>
                <span>Черных осталось:</span>

                <span style="font-weight: bold;">@CountBlack</span>
            </div>
        </div>

        @if (winner != null) // Победитель
        {
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
                        background: white; border: 5px solid gold; padding: 20px; z-index: 100; text-align: center;">
                <h2>Победили @(winner == PieceColor.White ? "Белые" : "Черные")!</h2>
                <button onclick="window.location.reload()">Начать заново</button>
            </div>
        }
    </div>
</div>

@code {
    private Board board = new Board();
    private PieceColor? winner; 
    private int CountWhite => board.Cells.Cast<Cell>().Count(c => c?.Checker?.Colour == PieceColor.White);
    private int CountBlack => board.Cells.Cast<Cell>().Count(c => c?.Checker?.Colour == PieceColor.Black);
}