@page "/"
@using System.ComponentModel

<PageTitle>Checkers</PageTitle>

<section class='hero'>
    <div class="board" style='transform: @(Turn == PieceColor.Black ? "rotate(180deg)" : "");'>
        @for (int r = 8; r >= 1; r--)
        {
            for (int c = 1; c <= 8; c++)
            {
                var cell = board.Cells[r, c];

                // Проверяем, доступен ли ход в текущую клетку [r, c] из выбранной
                bool isPossibleMove = false;
                if (selectedCell != null)
                {
                    var (canMove, victims) = logic.CheckActMove(board, $"{selectedCell.Row}{selectedCell.Col} {r}{c}".Split(" "));
                    var (mustkill, list) = logic.HasAnyCapture(board);
                    
                    if (!mustkill)
                    {
                        isPossibleMove = canMove;
                    }
                    else if (victims.Count == 0)
                    {
                        isPossibleMove = false;
                    }
                    if (victims.Count > 0)
                    {
                        isPossibleMove = canMove;
                    }
                }

                // Отрисовка клетки
                <div @onclick="() => HandleClick(cell)"
                    class="cell"
                    style="
                    background-color: @(cell.IsPlayable ? "#779556" : "#ebecd0");
                    border: @(selectedCell == cell ? "3px solid green" : "1px solid transparent");
                    ">
                    
                    @if (isPossibleMove) // Отрисовка возможных ходов
                    {
                        <div style="position: absolute; width: 15px; height: 15px;
                                    background-color: green; border-radius: 50%;"></div>
                    }

                    @if (cell.Checker != null) // Отрисовка шашек
                    {
                        <div 
                        class='checker' 
                        style="
                        background-color:@(cell.Checker.Colour == PieceColor.Black ? "rgba(62, 50, 41, 1)" : "white");
                        outline: 1px solid @(cell.Checker.Colour == PieceColor.Black ? "rgba(89, 80, 72, 1)" : "rgba(156, 156, 156, 1)");">

                            @if (cell.Checker.IsKing) // Отрисовка дамки
                            {
                                <img src="\images\crown.svg" style="width: 75%; height: 75%;" />
                            }
                        </div>
                        
                        @if (isPossibleMove) // Отрисовка возможных ходов
                        {
                            <div style="position: absolute; width: 15px; height: 15px;
                                        background-color: green; border-radius: 50%;"></div>
                        }
                    }
                </div>
            }
        }
    </div>

    <div class="info-panel">
        <h3 class='info-panel-title'>GAME STATUS</h3>
        <hr/>

        <div style="margin-bottom: 15px; display: flex; align-items: center; gap: 10px;">

            <strong>Turn:</strong> 

            <span>
                @(logic.Turn == PieceColor.White ? "White" : "Black")
            </span>

            <div 
                class='checker' 
                style="
                background-color:@(logic.Turn == PieceColor.Black ? "rgba(62, 50, 41, 1)" : "white");
                outline: 3px solid @(logic.Turn == PieceColor.Black ? "rgba(89, 80, 72, 1)" : "rgba(156, 156, 156, 1)")">
            </div>

        </div>

        <div style="display: flex; flex-direction: column; gap: 10px; margin-top: 70px;">
            <div style="display: flex; align-items: center; gap: 5px;">
                <div 
                class='checker' 
                style="
                background-color: white;">
                </div>

                <span>White left:</span>

                <span style="font-weight: bold; margin-left: 9px;">@CountWhite</span>
            </div>

            <div style="display: flex; align-items: center; gap: 5px;">
                <div 
                class='checker' 
                style="
                background-color: rgba(62, 50, 41, 1);">
                </div>
                <span>Black left:</span>

                <span style="font-weight: bold; margin-left: 9px;">@CountBlack</span>
            </div>
            <button class="SurrenderButton" @onclick="() => Surrender()">RESIGN</button>
        </div>
        @if (Draw(board)) // Если ничья
        {
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
                        background: white; border: 5px solid gold; padding: 20px; z-index: 100; text-align: center;">
                <h2>Это ничья!</h2>
                <button onclick="window.location.reload()">Начать заново</button>
            </div>
        }
        @if (winner != null) // Победитель
        {
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
                        background: white; border: 5px solid gold; padding: 20px; z-index: 100; text-align: center;">
                <h2>Победили @(winner == PieceColor.White ? "Белые" : "Черные")!</h2>
                <button onclick="window.location.reload()">Начать заново</button>
            </div>
        }
    </div>
</section>


@code {
    private Board board = new Board();
    private int CountWhite => board.Cells.Cast<Cell>().Count(c => c?.Checker?.Colour == PieceColor.White);
    private int CountBlack => board.Cells.Cast<Cell>().Count(c => c?.Checker?.Colour == PieceColor.Black);
    private PieceColor? winner; 

    private bool CanPlayerMove(PieceColor color)
    {
        // Берем все шашки текущего цвета
        IEnumerable<Cell>? playerCells = board.Cells.Cast<Cell>().Where(c => c != null && c.Checker?.Colour == color);
        
        foreach (Cell cell in playerCells)
        {
            if (HasAnyMoves(cell)) return true; // Если хоть одна шашка может ходить - игрок не проиграл
        }
        return false; // Если перебрали все и никто не может ходить - тупик
    }
}